<h2>Submit a new artist:</h2>
<form action="/artists/new-artist" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" value="">
  </div>
  <div>
    <label for="title">Genre:</label>
    <input type="text" name="genre" value="">
  </div>
  <div>
    <label for="title">Website:</label>
    <input type="text" name="website" value="">
  </div>
  <div>
    <label for="title">Image URL:</label>
    <input type="text" name="image" value="">
  </div>
  <div>
    <label for="author">Bio:</label>
    <textarea name="bio" rows="8" cols="80"></textarea>
  </div>
  <button class="btn" type="submit" name="submit">Submit</button>
</form>
